<strong>Olá, {{ student }}</strong>
<p>Informamos que sua matrícula foi alterada com sucesso junto a <strong>GymPoint</strong>. Seu bem-estar em primeiro lugar.</p>
<p>Informações sobre sua matrícula:</p>
<p>
  <strong>Aluno:</strong> {{ student }}<br>
  <strong>Período:</strong> {{ start_date }} a {{ end_date }} (duração de {{ duration }} mês(es))<br>
  <strong>Preço total:</strong> R$ {{ price }}<br>
</p>
