<strong>Olá, {{ user }}</strong>
<p>Informamos que seu pedidos de auxílio foi respondido.<br>
<strong>Seu bem-estar em primeiro lugar</strong>.</p>
<p>Informações sobre seu pedidos de auxílio:</p>
<p>
  <strong>{{ question }}</strong><br>
  <strong>R:</strong> {{ answer }}<br><br>
  <strong>Data da pergunta:</strong> {{ created_at }}<br>
  <strong>Data da resposta:</strong> {{ answer_at }}<br>
  <strong>Colaborador que repondeu:</strong> {{ user }}<br>
</p>
